
/*----------------NAVBAR ---------------*/
/* Modify brand and text color */
.navbar-default .navbar-brand,
.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default {
    background-color: #70acc0;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
a.dropdown-toggle:hover {
  background-color: #c12075 !important;
}

/* Dropdown menu color */
.navbar-default .dropdown-menu {
  background-color: #70acc0;
}

/* Dropdown menu hover color */
  .navbar-default .dropdown-menu>li>a:hover {
    background-color: #202831f2;
  }

/* Navbar Links when hovered*/
.navbar-default .dropdown-menu>.active>a
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav:hover, 
.navbar-default .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  color: #003754 !important;
  background-color: #70acc0;
}

.nav.navbar-nav.navbar-right li a {
    color: white !important;
}

.nav.navbar-nav.navbar-right li a :hover{
    color: #003754 !important;
}

.nav.navbar-nav li a{
    color: white !important;
}

a {color: #c12075;}
a:hover {color: #003754;}
